/*
INSTALLING:

1. Clone this repo.
2. In Firefox, navigate to about:config and set
   "toolkit.legacyUserProfileCustomizations.stylesheets" to "true".
3. Navigate to about:support and find "Profile Folder" or "Profile Directory".
   Copy the file path.
4. Create a directory named "chrome" in that directory.
5. Symlink this file (userChrome.css) into the chrome directory.

Reference: https://www.howtogeek.com/334716/how-to-customize-firefoxs-user-interface-with-userchrome.css/

You must restart Firefox for changes to this file to take effect.
*/

/* Remove rounded corners from everything */
* {
  border-radius: 0 !important;
}

/* Adjust menu padding; 4px makes the menus a bit denser */
menupopup > menuitem, menupopup > menu {
  padding-block: 4px !important;
  padding: 4px !important;
}
:root {
  --arrowpanel-menuitem-padding: 4px 8px !important;
  --tabbar-background-gradient: linear-gradient(to bottom, #181818, #4c4c4c);
  --tabbar-hover-background-gradient: linear-gradient(to bottom, #303030, #505050);

  /* Set the background and border color of the url bar.
   * --toolbar-field-background-color and --toolbar-field-border-color
   * are used by the default Firefox chrome CSS.
   */
  --toolbar-field-background-color: #fff !important;
  --toolbar-field-border-color: #bbb !important;

  /* --chrome-content-separator-color is used e.g. at the border between the
   * toolbar chrome and the page content.
   */
  --chrome-content-separator-color: #e8e8e8 !important;
}

/* Make the title bar (containing the tabs and the close/minimize/maximize buttons) dark */
#titlebar {
  background-color: var(--tabbar-background-gradient);
}

toolbar#nav-bar {
  background: #f0f0f4 !important;
  border-bottom: 1px solid var(--chrome-content-separator-color) !important;
}

#urlbar-background {
  box-shadow: inset 0 1px 1px #d0d0d0;
}

#tabbrowser-tabs {
  background: var(--tabbar-background-gradient);
  color: #fff !important;
  --tab-selected-bgcolor: #f8f8f8;
  --toolbarbutton-icon-fill: #ccc;
}

/* Format the tabs as tabs instead of floating buttons */
.tab-background {
    margin-block: 0 0 !important;
}

/* Separate tabs with a thin white line */
.tabbrowser-tab:first-child:not([visuallyselected=true]):not([multiselected=true]) .tab-background {
  border-left:  1px solid rgba(255, 255, 255, .20) !important;
}
.tabbrowser-tab:not([selected=true]):not([multiselected=true]):not([beforeselected-visible="true"]) .tab-background {
  border-right: 1px solid rgba(255, 255, 255, .20) !important;
}

/* Give the active tab a blue top border */
.tabbrowser-tab[selected=true] .tab-background {
    border-top: 2px solid #08f !important;
    background: #f0f0f4 !important;
}

.tabbrowser-tab[selected=true] * {
  color: #000 !important;
}

/* Remove borders from inactive tabs */
.tabbrowser-tab:not([selected=true]):not([multiselected=true]) {
    border-top: none !important;
}

.tabbrowser-tab:not([selected="true"], [visuallyselected="true"], [multiselected]) .close-icon,
.tabbrowser-tab:not([selected="true"], [visuallyselected="true"], [multiselected]) .tab-secondary-label,
.tabbrowser-tab:not([selected="true"], [visuallyselected="true"], [multiselected]) .tab-icon-overlay {
    color: #fff !important;
}

/* Inactive tabs have light text */
.tabbrowser-tab:not([selected="true"], [visuallyselected="true"], [multiselected]) .tab-text {
    color: #fff;
}

/* Hovering over an inactive tab brightens the background slightly and highlights the close button */
.tabbrowser-tab:not([selected=true]):not([visuallyselected=true]):not([multiselected=true]):hover .tab-background {
    background: var(--tabbar-hover-background-gradient) !important;
}

/* Remove padding between tabs */
.tabbrowser-tab {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

/* Remove space before first unpinned tab */
#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs]) > #tabbrowser-arrowscrollbox > .tabbrowser-tab[first-visible-unpinned-tab] {
  margin-inline-start: 0 !important;
}

#alltabs-button {
  display: none;
}